*,::before,::after{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:black ;
}
header{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.logo{   
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    z-index: 100;
}
span:nth-child(1){
    font-size: 22px;
    font-family: 'Galindo', cursive;
    margin-bottom: 0;
}
span:nth-child(2){
    font-size: 22px;
    font-family: 'Galindo', cursive;
    margin-top: 0;
}
span:nth-child(3){
    font-size: 11px;
}
ul{
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
li{
    color:white;
    list-style-type: none;
    padding: 22px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    
}
li:nth-child(4){
    margin-right:122px;
}
li:nth-child(5){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.ockham{
    font-size: 18px;
}
.container{
     width: 100%; 
     /* height: 100vh;  */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
.gauche{
    width: 100%;
     height: 80vh;   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
}
.droite{
    width: 100%;
    height: 80vh;   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;    
    -webkit-box-pack: center;    
        -ms-flex-pack: center;    
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.carre{
    border: solid grey 0.5px;
    width: 50%;
    height: 50%;
}
.rond{
    position: absolute;
    width: 948px;
    height: 948px;
    border-radius: 50%;
    border:solid 1px grey;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}
h1{
    position: absolute;
    opacity: 0;
    top:50%;
    left: 160%;
    -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    z-index: 100;
    color:white;
    font-size:450%;
    font-family: 'Archivo Black', sans-serif;
    width: 600px;    
}


video{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0%;
    left:-100%;  
    z-index: -2;
}
.scroll{
    color: white;
   width: 90%;
   /* height: 30px; */
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex; 
   -webkit-box-pack: end; 
       -ms-flex-pack: end; 
           justify-content: flex-end;
   -webkit-box-align: baseline;
       -ms-flex-align: baseline;
           align-items: baseline;
   font-size: 20px;  
   margin:  auto;  
 
}
.fa-chevron-left{
    padding-left: 6px;
    padding-right: 6px;
    font-size: 70%;
}
.fa-chevron-right{
    padding-left: 6px;
    padding-right: 6px;
    font-size: 70%;
}
.play{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top:80%;
    left: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
font-weight: bold;
}
.fa-play{
    padding-left: 6px;  
  
}
.play:hover{
    -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
        transform: scale(1.2);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.by{
    width: 200px;
    height: 30px;    
    font-size: 18px;
    -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}
.carreBis{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: white;
}
a{
    text-decoration: none;
    color: black;

}
.centrale{
    display: none;
}
.fa-pause-circle{
    color:black;
}
.deux{
    background-color: black;
    width: 100%;
    height: 100%;
    
}

.trois{
    background-color: rgb(52, 150, 241);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.wrapper{
    /* width: 400vh;
    height: 100vw; */
-webkit-transform: rotate(-90deg) translateX(-100vh);
        -ms-transform: rotate(-90deg) translateX(-100vh);
    transform: rotate(-90deg) translateX(-100vh);
-webkit-transform-origin: top left;
        -ms-transform-origin: top left;
    transform-origin: top left;
overflow-x: hidden;
-ms-overflow-style: none;
scrollbar-width: none;
}
::-webkit-scrollbar{
    display: none;
}
.block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;          
    width: 400vw;
    height: 100vh;
    -webkit-transform: rotate(90deg) translateY(-100vh);
            -ms-transform: rotate(90deg) translateY(-100vh);
        transform: rotate(90deg) translateY(-100vh);
    -webkit-transform-origin: top left;
            -ms-transform-origin: top left;
        transform-origin: top left;
}


.gaucheDeux{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;    
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-size: 66px;
    border: solid 1px white;

}
h2{
width: 88%;
}
.droiteDeux{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.droiteDeux img{
    width: 88%;
}

.droiteDeux img:hover{
    width: 100%;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-animation: explore forwards 2s;
            animation: explore forwards 2s;
}

.deux{
    background: url('images/Lape_Lala grande.jpg');  
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
  width: 105%;
} 
@-webkit-keyframes explore{
    0%{
        opacity:0;
    }
    50%{
        opacity: 0.5;
    }
    75%{
       opacity: 0.75;
    }
    100%{
opacity: 1;
    }
}
@keyframes explore{
    0%{
        opacity:0;
    }
    50%{
        opacity: 0.5;
    }
    75%{
       opacity: 0.75;
    }
    100%{
opacity: 1;
    }
}
.playPause{
color: black;
width: 48px;

}
.play{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.yeux{
    position: relative;
    width: 66%;
    height: 495px;
    left: 100%;

}
.yeuxVertrond{
    position: absolute;
    width: 178px;
    height: 178px;
    border-radius: 50%;
    top:38%;
    left: 35%;
    border: #00B31E 50px solid;
     opacity: 0.4;
    -webkit-filter: blur(24px);
            filter: blur(24px); 
    -webkit-transition: 1s ease-in; 
    -o-transition: 1s ease-in; 
    transition: 1s ease-in;
}
.headerDeux ul li{
  font-size:22px;
}
.ensemble p{
    color:white;
    font-size: 66px;
    font-family: 'Archivo Black', sans-serif;
    
}
.ensemble{
    width: 200px;
    height: 88vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
#toggleBar{
    display: none;
}
.trois img{

}
@media only screen and (max-width: 700px){
#toggleBar{
    display: block;
    cursor: pointer;
    z-index: 100;
}
#toggleLi{
    display: none;
}
.fa-bars{
    color: white;
    font-size: 190%;
    padding-top: 10px;
    padding-right: 10px;
}
.logo{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10px;
}
h1{
    /* left: 50%; */
   width: 300px;
   font-size: 55px;
}
.centrale{
    display: none;
}
#toggleLi.displayMenu{
    display: block;
}
ul{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60px;
}
li{
    padding: 10px;
    text-align: center;
}
li:nth-child(4){
    margin-right: 0px;
}
.play{
    top:70%;
}
#toggleLi.displayMenu {
    display: block;
    z-index: 100;
}
.yeux{
    z-index: -4;
    top:0%;
}
.gauche{
  display: none;
}
video{
    top:-20%;
}
.deux{
    width: 100%;
}
}*{
    padding: 0;
    margin: 0;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
}
body{
    background-color:black ;
}
header{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.logo{   
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    z-index: 100;
}
span:nth-child(1){
    font-size: 22px;
    font-family: 'Galindo', cursive;
    margin-bottom: 0;
}
span:nth-child(2){
    font-size: 22px;
    font-family: 'Galindo', cursive;
    margin-top: 0;
}
span:nth-child(3){
    font-size: 11px;
}
ul{
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
li{
    color:white;
    list-style-type: none;
    padding: 22px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    
}
li:nth-child(4){
    margin-right:122px;
}
li:nth-child(5){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.ockham{
    font-size: 18px;
}
.container{
    width: 100%;
    /* height: 100vh; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
.gauche{
    width: 100%;
     height: 80vh;   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
}
.droite{
    width: 100%;
    height: 80vh;   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;    
    -webkit-box-pack: center;    
        -ms-flex-pack: center;    
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.carre{
    border: solid grey 0.5px;
    width: 50%;
    height: 50%;
}
.rond{
    position: absolute;
    width: 948px;
    height: 948px;
    border-radius: 50%;
    border:solid 1px grey;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}
h1{
    position: absolute;
    opacity: 0;
    top:50%;
    left: 160%;
    -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    z-index: 100;
    color:white;
    font-size:450%;
    font-family: 'Archivo Black', sans-serif;
    width: 600px;    
}


video{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0%;
    left:-100%;  
    z-index: -2;
}
.scroll{
    color: white;
   width: 90%;
   /* height: 30px; */
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex; 
   -webkit-box-pack: end; 
       -ms-flex-pack: end; 
           justify-content: flex-end;
   -webkit-box-align: baseline;
       -ms-flex-align: baseline;
           align-items: baseline;
   font-size: 20px;  
   margin:  auto;  
 
}
.fa-chevron-left{
    padding-left: 6px;
    padding-right: 6px;
    font-size: 70%;
}
.fa-chevron-right{
    padding-left: 6px;
    padding-right: 6px;
    font-size: 70%;
}
.play{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top:80%;
    left: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
font-weight: bold;
}
.fa-play{
    padding-left: 6px;  
  
}
.play:hover{
    -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
        transform: scale(1.2);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.by{
    width: 200px;
    height: 30px;    
    font-size: 18px;
    -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}
.carreBis{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: white;
}
a{
    text-decoration: none;
    color: black;

}
.centrale{
    display: none;
}
.fa-pause-circle{
    color:black;
}
/* .deux{
    background-color: black;
    width: 100%;
    height: 100%;
    
} */

.trois{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
            -ms-flex-pack: distribute;
                justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    
}
.carreP2{
    position: absolute;
    width: 50%;
    height: 80vh;
    top: 10%;
    left: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: solid 0.5px grey;
}
.trois .rond{
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    position: absolute;
    border: solid 0.5px grey;
}
h3{
    font-family: 'Archivo Black', sans-serif;
    font-size: 350%;
}
.troisH1{
    width: 80%;
    text-align: center;
}
.trois .logo{
    color:black;
}
.quatre{
    background-color: green;
    width: 100%;
    height: 100%;
}
.trois img{
width: 150%;
}
.wrapper{
    width: 100vh;
    height: 100vw;
-webkit-transform: rotate(-90deg) translateX(-100vh);
        -ms-transform: rotate(-90deg) translateX(-100vh);
    transform: rotate(-90deg) translateX(-100vh);
-webkit-transform-origin: top left;
        -ms-transform-origin: top left;
    transform-origin: top left;
overflow-x: hidden;
-ms-overflow-style: none;
scrollbar-width: none;
}
::-webkit-scrollbar{
    display: none;
}
.block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 400vw;
    height: 100vh;
    -webkit-transform: rotate(90deg) translateY(-100vh);
            -ms-transform: rotate(90deg) translateY(-100vh);
        transform: rotate(90deg) translateY(-100vh);
    -webkit-transform-origin: top left;
            -ms-transform-origin: top left;
        transform-origin: top left;
}
.plan{
     width: 100vw; 
    height: 100vh;   

}


.gaucheDeux{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;    
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-size: 66px;
    border: solid 1px white;

}
h2{
width: 88%;
}
.droiteDeux{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.droiteDeux img{
    width: 88%;
}

.droiteDeux img:hover{
    width: 100%;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-animation: explore forwards 2s;
            animation: explore forwards 2s;
}
/* .deux{
    background: url('images/Lape_Lala/ grande.jpg');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
} */
@-webkit-keyframes explore{
    0%{
        opacity:0;
    }
    50%{
        opacity: 0.5;
    }
    75%{
       opacity: 0.75;
    }
    100%{
opacity: 1;
    }
}
@keyframes explore{
    0%{
        opacity:0;
    }
    50%{
        opacity: 0.5;
    }
    75%{
       opacity: 0.75;
    }
    100%{
opacity: 1;
    }
}
.playPause{
color: black;
width: 48px;

}
.play{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.yeux{
    position: relative;
    width: 640px;
    height: 495px;
    left: 100%;

}
.yeuxVertrond{
    position: absolute;
    width: 178px;
    height: 178px;
    border-radius: 50%;
    top:38%;
    left: 35%;
    border: #00B31E 50px solid;
     opacity: 0.4;
    -webkit-filter: blur(24px);
            filter: blur(24px); 
    -webkit-transition: 1s ease-in; 
    -o-transition: 1s ease-in; 
    transition: 1s ease-in;
}
.headerDeux ul li{
  font-size:22px;
}
.ensemble p{
    color:white;
    font-size: 66px;
    font-family: 'Archivo Black', sans-serif;
    
}
.ensemble{
    width: 200px;
    height: 88vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
#toggleBar{
    display: none;
}
.clePetitePorteBleue{
    z-index: 1000;
    cursor: pointer;
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
}
.clePetitePorteBleue:hover{
    -webkit-animation:cle 1s infinite;
            animation:cle 1s infinite;
    
}
 @-webkit-keyframes cle{
0%{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);

}
50%{
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
}
100%{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}
}
 @keyframes cle{
0%{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);

}
50%{
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
}
100%{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}
} 

@media only screen and (max-width: 782px){
#toggleBar{
    display: block;
    cursor: pointer;
    z-index: 100;
}
.un{
    width: 100vw;
}
.deux{
    width:500px;
}
.trois{
    width: 500px;
}
.ensemble p{
    font-size: 44px;
    margin-left: 30px;
}
#toggleLi{
    display: none;
}
.fa-bars{
    color: white;
    font-size: 190%;
    padding-top: 10px;
    padding-right: 10px;
}
.logo{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10px;
}
h1{
    /* left: 50%; */
   width: 300px;
   font-size: 55px;
}
.centrale{
    display: none;
}
#toggleLi.displayMenu{
    display: block;
}
ul{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60px;
}
li{
    padding: 10px;
    text-align: center;
}
li:nth-child(4){
    margin-right: 0px;
}
.play{
    top:70%;
}
#toggleLi.displayMenu {
    display: block;
    z-index: 100;
}
.yeux{
    z-index: -4;
    top:0%;
}
.gauche{
  display: none;
}
video{
    top:-20%;
}
h3{
    font-size: 150%;
}
.trois .logo {
    color: black;
    margin-left: 30px;
}
.rond{
    width: 350px;
    height: 350px;
    
}
.trois .rond{
    top: 35%;
}
.trois img {
    width: 100%;
}

}*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:black ;
}
header{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.logo{   
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    z-index: 100;
}
span:nth-child(1){
    font-size: 22px;
    font-family: 'Galindo', cursive;
    margin-bottom: 0;
}
span:nth-child(2){
    font-size: 22px;
    font-family: 'Galindo', cursive;
    margin-top: 0;
}
span:nth-child(3){
    font-size: 11px;
}
ul{
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
li{
    color:white;
    list-style-type: none;
    padding: 22px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    
}
li:nth-child(4){
    margin-right:122px;
}
li:nth-child(5){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.ockham{
    font-size: 18px;
}
.container{
     width: 100%; 
     /* height: 100vh;  */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
.gauche{
    width: 100%;
     height: 80vh;   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
}
.droite{
    width: 100%;
    height: 80vh;   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;    
    -webkit-box-pack: center;    
        -ms-flex-pack: center;    
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.carre{
    border: solid grey 0.5px;
    width: 50%;
    height: 50%;
}
.rond{
    position: absolute;
    width: 948px;
    height: 948px;
    border-radius: 50%;
    border:solid 1px grey;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
h1{
    position: absolute;
    opacity: 0;
    top:50%;
    left: 160%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    z-index: 100;
    color:white;
    font-size:450%;
    font-family: 'Archivo Black', sans-serif;
    width: 600px;    
}


video{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0%;
    left:-100%;  
    z-index: -2;
}
.scroll{
    color: white;
   width: 90%;
   /* height: 30px; */
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex; 
   -webkit-box-pack: end; 
       -ms-flex-pack: end; 
           justify-content: flex-end;
   -webkit-box-align: baseline;
       -ms-flex-align: baseline;
           align-items: baseline;
   font-size: 20px;  
   margin:  auto;  
 
}
.fa-chevron-left{
    padding-left: 6px;
    padding-right: 6px;
    font-size: 70%;
}
.fa-chevron-right{
    padding-left: 6px;
    padding-right: 6px;
    font-size: 70%;
}
.play{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top:80%;
    left: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
font-weight: bold;
}
.fa-play{
    padding-left: 6px;  
  
}
.play:hover{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 1s;
    transition: 1s;
}
.by{
    width: 200px;
    height: 30px;    
    font-size: 18px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
.carreBis{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: white;
}
a{
    text-decoration: none;
    color: black;

}
.centrale{
    display: none;
}
.fa-pause-circle{
    color:black;
}
.deux{
    background-color: black;
    width: 100%;
    height: 100%;
    
}

.trois{
    background-color: rgb(52, 150, 241);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.wrapper{
    /* width: 400vh;
    height: 100vw; */
-webkit-transform: rotate(-90deg) translateX(-100vh);
        transform: rotate(-90deg) translateX(-100vh);
-webkit-transform-origin: top left;
        transform-origin: top left;
overflow-x: hidden;
-ms-overflow-style: none;
scrollbar-width: none;
}
::-webkit-scrollbar{
    display: none;
}
.block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;          
    width: 400vw;
    height: 100vh;
    -webkit-transform: rotate(90deg) translateY(-100vh);
            transform: rotate(90deg) translateY(-100vh);
    -webkit-transform-origin: top left;
            transform-origin: top left;
}


.gaucheDeux{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;    
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-size: 66px;
    border: solid 1px white;

}
h2{
width: 88%;
}
.droiteDeux{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.droiteDeux img{
    width: 88%;
}

.droiteDeux img:hover{
    width: 100%;
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-animation: explore forwards 2s;
            animation: explore forwards 2s;
}

.deux{
    background: url('images/Lape_Lala grande.jpg');  
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
  width: 105%;
} 
@-webkit-keyframes explore{
    0%{
        opacity:0;
    }
    50%{
        opacity: 0.5;
    }
    75%{
       opacity: 0.75;
    }
    100%{
opacity: 1;
    }
}
@keyframes explore{
    0%{
        opacity:0;
    }
    50%{
        opacity: 0.5;
    }
    75%{
       opacity: 0.75;
    }
    100%{
opacity: 1;
    }
}
.playPause{
color: black;
width: 48px;

}
.play{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.yeux{
    position: relative;
    width: 640px;
    height: 495px;
    left: 100%;

}
.yeuxVertrond{
    position: absolute;
    width: 178px;
    height: 178px;
    border-radius: 50%;
    top:38%;
    left: 35%;
    border: #00B31E 50px solid;
     opacity: 0.4;
    -webkit-filter: blur(24px);
            filter: blur(24px); 
    -webkit-transition: 1s ease-in; 
    transition: 1s ease-in;
}
.headerDeux ul li{
  font-size:22px;
}
.ensemble p{
    color:white;
    font-size: 66px;
    font-family: 'Archivo Black', sans-serif;
    
}
.ensemble{
    width: 200px;
    height: 88vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
#toggleBar{
    display: none;
}
.trois img{

}
@media only screen and (max-width: 700px){
#toggleBar{
    display: block;
    cursor: pointer;
    z-index: 100;
}
#toggleLi{
    display: none;
}
.fa-bars{
    color: white;
    font-size: 190%;
    padding-top: 10px;
    padding-right: 10px;
}
.logo{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10px;
}
h1{
    /* left: 50%; */
   width: 300px;
   font-size: 55px;
}
.centrale{
    display: none;
}
#toggleLi.displayMenu{
    display: block;
}
ul{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60px;
}
li{
    padding: 10px;
    text-align: center;
}
li:nth-child(4){
    margin-right: 0px;
}
.play{
    top:70%;
}
#toggleLi.displayMenu {
    display: block;
    z-index: 100;
}
.yeux{
    z-index: -4;
    top:0%;
}
.gauche{
  display: none;
}
video{
    top:-20%;
}
.deux{
    width: 100%;
}
}*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
}
body{
    background-color:black ;
}
header{
    width: 100%;
    display: flex;

}
.logo{   
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    z-index: 100;
}
span:nth-child(1){
    font-size: 22px;
    font-family: 'Galindo', cursive;
    margin-bottom: 0;
}
span:nth-child(2){
    font-size: 22px;
    font-family: 'Galindo', cursive;
    margin-top: 0;
}
span:nth-child(3){
    font-size: 11px;
}
ul{
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
li{
    color:white;
    list-style-type: none;
    padding: 22px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    
}
li:nth-child(4){
    margin-right:122px;
}
li:nth-child(5){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.ockham{
    font-size: 18px;
}
.container{
    width: 100%;
    /* height: 100vh; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
.gauche{
    width: 100%;
     height: 80vh;   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
}
.droite{
    width: 100%;
    height: 80vh;   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;    
    -webkit-box-pack: center;    
        -ms-flex-pack: center;    
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.carre{
    border: solid grey 0.5px;
    width: 50%;
    height: 50%;
}
.rond{
    position: absolute;
    width: 948px;
    height: 948px;
    border-radius: 50%;
    border:solid 1px grey;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
h1{
    position: absolute;
    opacity: 0;
    top:50%;
    left: 160%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    z-index: 100;
    color:white;
    font-size:450%;
    font-family: 'Archivo Black', sans-serif;
    width: 600px;    
}


video{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0%;
    left:-100%;  
    z-index: -2;
}
.scroll{
    color: white;
   width: 90%;
   /* height: 30px; */
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex; 
   -webkit-box-pack: end; 
       -ms-flex-pack: end; 
           justify-content: flex-end;
   -webkit-box-align: baseline;
       -ms-flex-align: baseline;
           align-items: baseline;
   font-size: 20px;  
   margin:  auto;  
 
}
.fa-chevron-left{
    padding-left: 6px;
    padding-right: 6px;
    font-size: 70%;
}
.fa-chevron-right{
    padding-left: 6px;
    padding-right: 6px;
    font-size: 70%;
}
.play{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top:80%;
    left: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
font-weight: bold;
}
.fa-play{
    padding-left: 6px;  
  
}
.play:hover{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 1s;
    transition: 1s;
}
.by{
    width: 200px;
    height: 30px;    
    font-size: 18px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
.carreBis{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: white;
}
a{
    text-decoration: none;
    color: black;

}
 .centrale{
    display: none;
} 
.fa-pause-circle{
    color:black;
}
/* .deux{
    background-color: black;
    width: 100%;
    height: 100%;
    
} */

.trois{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
        flex-direction: column;
            justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    
}
.carreP2{
    position: absolute;
    width: 50%;
    height: 80vh;
    top: 10%;
    left: 0%;
    display: flex;
    flex-wrap: wrap;
    border: solid 0.5px grey;
}
.trois .rond{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border: solid 0.5px grey;
}
h3{
    font-family: 'Archivo Black', sans-serif;
    font-size: 350%;
}
.troisH1{
    width: 80%;
    text-align: center;
}
.trois .logo{
    color:black;
}

.trois img{
width: 150%;
}
.wrapper{
    width: 100vh;
    height: 100vw;
-webkit-transform: rotate(-90deg) translateX(-100vh);
        transform: rotate(-90deg) translateX(-100vh);
-webkit-transform-origin: top left;
        transform-origin: top left;
overflow-x: hidden;
-ms-overflow-style: none;
scrollbar-width: none;
}
::-webkit-scrollbar{
    display: none;
}
.block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 400vw;
    height: 100vh;
    -webkit-transform: rotate(90deg) translateY(-100vh);
            transform: rotate(90deg) translateY(-100vh);
    -webkit-transform-origin: top left;
            transform-origin: top left;
}
.plan{
     width: 100vw; 
    height: 100vh;   

}


.gaucheDeux{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;    
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-size: 66px;
    border: solid 1px white;

}
h2{
width: 88%;
}
.droiteDeux{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.droiteDeux img{
    width: 88%;
}

.droiteDeux img:hover{
    width: 100%;
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-animation: explore forwards 2s;
            animation: explore forwards 2s;
}
/* .deux{
    background: url('images/Lape_Lala/ grande.jpg');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
} */
@-webkit-keyframes explore{
    0%{
        opacity:0;
    }
    50%{
        opacity: 0.5;
    }
    75%{
       opacity: 0.75;
    }
    100%{
opacity: 1;
    }
}
@keyframes explore{
    0%{
        opacity:0;
    }
    50%{
        opacity: 0.5;
    }
    75%{
       opacity: 0.75;
    }
    100%{
opacity: 1;
    }
}
.playPause{
color: black;
width: 48px;

}
.play{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.yeux{
    position: relative;
    width: 640px;
    height: 495px;
    left: 100%;

}

.yeuxVertrond{
    position: absolute;
    width: 178px;
    height: 178px;
    border-radius: 50%;
    top:38%;
    left: 35%;
    border: #00B31E 50px solid;
     opacity: 0.4;
    -webkit-filter: blur(24px);
            filter: blur(24px); 
    -webkit-transition: 1s ease-in; 
    transition: 1s ease-in;
}
.headerDeux ul li{
  font-size:22px;
}
.ensemble p{
    color:white;
    font-size: 66px;
    font-family: 'Archivo Black', sans-serif;
    
}
.ensemble{
    width: 200px;
    height: 88vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
#toggleBar{
    display: none;
}
.clePetitePorteBleue{
    z-index: 1000;
    cursor: pointer;
    transform: rotateY(45deg);
}
.clePetitePorteBleue:hover{
    animation:cle 1s infinite;
    
}
 @keyframes cle{
0%{
    transform: rotateY(0deg);

}
50%{
    transform: rotateY(-90deg);
}
100%{
    transform: rotateY(0deg);
}
} 
.quatre{
    background-color: black;
    display: flex;
    flex-direction: row;
}
.qutreBis{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    
}
.contact{
    width: 30%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    font-size: 520%;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 15px;
}
.container4{
    width: 50%;
}
.container4 h4{
    width:100% ;
    color:white;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}
.container4 .row10{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.container4 .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}
.container4 .row100 .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color:white;
}
.container4 .row100 .inputBox input,
textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color:#000;
}
.container4 .row100 .inputBox .text{
    position: absolute;
    top:0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container4 .row100 .inputBox input:focus + .text,
.container4 .row100 .inputBox input:valid + .text{
top:-35px;
left: -10px;
}
.container4 .row100 .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background:white;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.container4 .row100 .inputBox input:focus ~ .line,
.container4 .row100 .inputBox input:valid ~ .line{
    height: 100%;
}
#textA{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;   

}
input[type="submit"]{
    border:none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: white;
    color: #000;
    font-size: 18px;
    border-radius: 2px;

}

.container4 .row100 .inputBox textarea:focus + .text,
.container4 .row100 .inputBox textarea:valid + .text{
    top:-35px;
    left: -10px;
}
.container4 .row100 .inputBox textarea:focus ~ .line,
.container4 .row100 .inputBox textarea:valid ~ .line{
    height: 100%;
}



@media only screen and (max-width: 782px){
#toggleBar{
    display: block;
    cursor: pointer;
    z-index: 100;
}
.un{
    width: 100vw;
}
.deux{
    width:500px;
}
.trois{
    width: 500px;
}
.ensemble p{
    font-size: 44px;
    margin-left: 30px;
}
#toggleLi{
    display: none;
}
.fa-bars{
    color: white;
    font-size: 190%;
    padding-top: 10px;
    padding-right: 10px;
}
.logo{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10px;
}
h1{
    /* left: 50%; */
   width: 300px;
   font-size: 55px;
}

#toggleLi.displayMenu{
    display: block;
}
ul{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60px;
}
li{
    padding: 10px;
    text-align: center;
}
li:nth-child(4){
    margin-right: 0px;
}
.play{
    top:10%;
    z-index: 1000;
}
#toggleLi.displayMenu {
    display: block;
    z-index: 100;
  
}
.yeux{
    z-index: -4;
    top:0%;
}
.gauche{
  display: none;
}
video{
    top:-20%;
}
h3{
    font-size: 150%;
}
.trois .logo {
    color: black;
    margin-left: 30px;
}
.rond{
    width: 350px;
    height: 350px;
    
}
.trois .rond{
    top: 35%;
}
.trois img {
    width: 50%;
    z-index: 1000;
}
.carreP2{
    width: 80%;
}
.clePetitePorteBleue{
    transform: rotateY(0deg);
}

}